/* CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* My styles */

* {
    --nav-color: #C6ECF4;
    --btn-add-color: #A6E468;
}

body {
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    position: relative;
    min-height: 100vh;
}


main {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
}

h1 {
    padding: 1rem;
}

nav {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--nav-color);
}

a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

form label {
    display: block;
    font-size: 1.25rem;
}

.input__title, .date-picker__releasedate, .select__category, .textarea__description {
    margin-bottom: 0.75rem;
}

.textarea__description {
    resize: none;
}

.btn {
    border: none;
    padding: 8px 16px;
    min-width: 10rem;
}

.btn__primary {
    background-color: var(--btn-add-color);
}
